/* Universal Styling */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body Styling */

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    min-height: 100vh;
    background-color: #f1f1f1;
  }

/* Header Attributes */

header {
    padding: 45px;
    background-color: rgb(7, 128, 150);
    color: #f1f1f1;
    font-size: 2em;
    text-align: center;
    width: 100%;
}

/* Navigation bar and navigation links */

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #000;
    width: 100%;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 15px 30px;
    display: inline-block;
    font-weight: 500;
}

nav a:hover {
    background-color: #fff;
    color: rgb(7, 128, 150);
    font-weight: 1000;
}

/* Main Section */

main {
    display: flex;
    flex-wrap: wrap;
    margin: 1% auto;
    padding: 10px;
    width: 90%;
}

.vl {
    border-left: 8px solid #078196;
    border-radius: 5px;
    min-height: 100%;
  }

/* About Me section */

.about-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 3%;
    margin-bottom: 5%;
}

.left-sidebar {
    flex: 0 0 250px;
}

h2 {
    font-size: 2.5em;
    padding: 10px;
    color: rgb(7, 128, 150);
    font-weight: bold;
    cursor: default;
}

.main-about {
    flex: 1;
    padding: 0 20px;
}

p {
    font-size: 1.25em;
    line-height: 150%;
    padding: 10px;
}

.headshot {
    max-height: 200px;
    float: left;
    padding: 20px 50px;
}

/* Projects section */

.project-container {
    display: flex;
    margin-bottom: 10%;
    margin-top: 5%;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    margin-left: 50px;
}

.image-container-a {
    position: relative;
}

.image-container-b {
    position: relative;
}

.p1 {
    padding: 10px;
    width: 100%;
}

.p2 {
    width: 250px;
    height: auto;
    padding: 10px;
}

.title-a,
.title-b {
    position: absolute;
    bottom: 14px;
    text-align: center;
    background-color: rgba(7, 128, 150, 0.9);
    color: #fff;
    font-weight: bold;
    padding: 5px;
}

.title-a {
    left: 1%;
    font-size: 1.5vw;
}

.title-b {
    left: 3%;
    font-size: .75vw;
}

.projects img:hover {
    border: #000 solid 3px;
    box-shadow: inset 0px 0px 4px rgb(7, 128, 150), 0 0 10px rgb(7, 128, 150)
}

/* Contact Me section */

.contact-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 7.5%;
    width: 100%;
    padding: 50px 0;
}

.contact {
    margin-left: 1%;
    display: flex;
    justify-content: space-evenly;
    width: 40%;
}

.contact a {
    text-decoration: none;
    padding: 25px;
    display: inline-block;
    color: #000;
    font-size: 1.5em;
    text-align: center;
}

.contact a:hover {
    color: #078196;
    font-weight: bold;
}

/* footer section */

footer {
    padding: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    cursor: default;
    background-color: #078196;
}

h3 {
    font-size: 1.1em;
    color: #fff;
    font-weight: bold;
}

/* Media Queries for tablet */

@media screen and (max-width: 992px) {
   .about-container {
        flex-direction: column;
        align-items: center;
   } 

   .left-sidebar {
        flex: 0 0 100px;
}

   .main-about p {
        text-align: justify;
   }

   .project-container {
        flex-direction: column;
        align-items: center;
   }

    .projects {
        width: 50%;
        align-items: center;
    }

    h2 {
        text-align: center;
    }

    .vl {
        display: none;
    }

    .contact-container {
        flex-direction: column;
        align-items: center;
    }
}

/* Media Queries for cell phone */

@media screen and (max-width: 350px) {
    .projects {
        width: 100%;
        align-items: center;
        margin: 0;
    }

    .about-container {
        flex-direction: column;
        align-items: center;
    }

    .main-about p {
        text-align: justify;
    }

    .project-container {
        flex-direction: column;
        align-items: center;
    }

    .p2 {
        flex-direction: column;
    }

    .contact-container {
        flex-direction: column;
    }

    .contact {
        margin-left: 1%;
        justify-content: space-evenly;
        width: 100%;
        flex-direction: column;
    }

    .left-sidebar {
        flex: 0 0 100px;
    }

    h1 {
        font-size: 1.25em;
    }

    h2 {
        text-align: center;
    }

    .vl {
        display: none;
    }
}