* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Body Styling */

body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    min-height: 100vh;
    justify-content: flex-start;
    background-color: #f1f1f1;
  }

/* Header Attributes */

header {
    padding: 45px;
    background-color: rgb(7, 128, 150);
    color: #fff;
    font-size: 2em;
    text-align: center;
}

/* Navigation bar and navigation links */

nav {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: #000;
}

nav a {
    color: #fff;
    text-decoration: none;
    padding: 15px 30px;
    display: inline-block;
    font-weight: bold;
}

a:hover {
    background-color: #fff;
    color: rgb(7, 128, 150);
}

/* Main Section */

main {
    display: flex;
    flex-wrap: wrap;
    margin: 1% auto;
    padding: 10px;
    width: 90%;
}

/* About Me section */

.about-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2%;
    margin-bottom: 5%;
    justify-content: space-evenly;
    padding: 50px 0;
}

.left-sidebar {
    flex: 0 0 250px;
}

h2 {
    font-size: 2.5em;
    padding: 10px;
    color: rgb(7, 128, 150);
    font-weight: bold;
    cursor: default;
}

.main-about {
    flex: 1;
    padding: 0 20px;
}

p {
    font-size: 1.25em;
    line-height: 150%;
    padding: 10px 0;
}

.right-sidebar {
flex: 0 1 100px;
}

.headshot {
    padding: 10px;
    max-height: 200px;
}

/* Projects section */

.project-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 10%;
    
}

.projects {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.image-container-a {
    position: relative;
}

.image-container-b {
    position: relative;
}

.p1 {
    padding: 10px;
    width: 100%;
}

.p2 {
    width: 300px;
    height: auto;
    padding: 10px;
}

.title-a,
.title-b {
    position: absolute;
    bottom: 14px;
    text-align: center;
    background-color: rgba(7, 128, 150, 0.9);
    color: #fff;
    font-weight: bold;
    padding: 5px;
}

.title-a {
    left: 1%;
    font-size: 1.5vw;
}

.title-b {
    left: 3%;
    font-size: 1vw;
}

.projects img:hover {
    border: #000 solid 3px;
    box-shadow: inset 0px 0px 4px rgb(7, 128, 150), 0 0 10px rgb(7, 128, 150)
}

/* Contact Me section */

.contact-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 7.5%;
    width: 100%;
    padding: 50px 0;
}

.contact {
    margin-left: 1%;
}

.contact a {
    text-decoration: none;
    padding: 30px 40px;
    display: inline-block;
    font-weight: bold;
    color: #000;
}

.contact a:hover {
    color: #078196;
}

/* footer section */

footer {
    padding: 20px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    cursor: default;
}

h3 {
    font-weight: normal;
    font-size: 1em;
}

/* Media Queries for tablet */

@media screen and (max-width: 992px) {
    .projects {
        width: 50%;;
    }
}

/* Media Queries for cell phone */

@media screen and (max-width: 768px) {
    .projects {
        width: 100%;
    }
}
    .contact {
        flex-direction: column;
    }